<form autocomplete="off" onsubmit="event.preventDefault();">
    <p>You may import unmodified PDFs from Paizo only. For personal use only.</p>
    <p>This will create actors/scenes/journal entries in this world. Importing supported flip mats/interactive maps (+) will update maps for all matching scenes in the world.</p>
    <h4>Supported Modules</h4>
    <div class="supported-modules">
        <p>Fall of Plaguestone</p>
        <span class="complete">&nbsp;</span>
        <p>The Slithering</p>
        <span class="complete">&nbsp;</span>
    </div>
    <div class="supported-modules">
        <p>Troubles in Otari</p>
        <span class="complete">&nbsp;</span>
        <p>Menace Under Otari</p>
        <span class="complete" title="Flip Mat import supported.">+</span>
    </div>
    <div class="supported-modules">
        <p>Little Trouble..</p>
        <span class="complete">&nbsp;</span>
    </div>
    <div class="supported-modules">
        <p>Age of Ashes</p>
        <span class="complete">1</span>
        <span class="complete">2</span>
        <span class="complete">3</span>
        <span class="complete">4</span>
        <span class="complete">5</span>
        <span class="complete">6</span>
    </div>
    <div class="supported-modules">
        <p>Extinction Curse</p>
        <span class="complete">1</span>
        <span class="complete">2</span>
        <span class="complete" title="Special thanks to Nock for providing wall data.">3</span>
        <span class="complete" title="Special thanks to Nock for providing wall data.">4</span>
        <span class="complete" title="Special thanks to Nock for providing wall data.">5</span>
        <span class="complete" title="Special thanks to Nock for providing wall data.">6</span>
    </div>
    <div class="supported-modules">
        <p>Agents of Edgewatch</p>
        <span class="complete" title="Interactive Map import supported.">1+</span>
        <span class="complete" title="Interactive Map import supported.">2+</span>
        <span class="complete" title="Interactive Map import supported.">3+</span>
        <span class="complete" title="Interactive Map import supported.">4+</span>
        <span class="complete" title="Interactive Map import supported.">5+</span>
        <span class="complete" title="Interactive Map import supported.">6+</span>
    </div>
    <div class="supported-modules">
        <p>Abomination Vaults</p>
        <span class="complete" title="Special thanks to TMun for providing wall data. Interactive Map import supported.">1+</span>
        <span class="complete" title="Special thanks to redeux#9667 on Discord for providing wall data. Interactive Map import supported.">2+</span>
        <span>3</span>
    </div>
    <p>Pathfinder Society Season 1</p>
    <div class="supported-modules">
        <span class="complete">00</span>
        <span class="complete">01</span>
        <span class="complete">02</span>
        <span class="complete">03</span>
        <span class="complete">04</span>
        <span class="complete">05</span>
        <span class="complete">06</span>
        <span class="complete">07</span>
        <span class="complete">08</span>
        <span class="complete">09</span>
        <span class="complete">10</span>
        <span class="complete">11</span>
        <span class="complete">12</span>
        <span class="complete">13</span>
        <span class="complete">14</span>
        <span class="complete">15</span>
        <span class="complete">16</span>
        <span class="complete">17</span>
        <span class="complete">18</span>
        <span class="complete">19</span>
        <span class="complete">20</span>
        <span class="complete">21</span>
        <span class="complete">22</span>
        <span class="complete">23</span>
        <span class="complete">24</span>
        <span class="complete">25</span>
    </div>
    <div class="supported-modules">
        <span class="complete">Q1</span>
        <span class="complete">Q2</span>
        <span class="complete">Q3</span>
        <span class="complete">Q4</span>
        <span class="complete">Q5</span>
        <span class="complete">Q6</span>
        <span class="complete">Q7</span>
        <span class="complete">Q8</span>
        <span class="complete">Q9</span>
        <span class="complete">Q10</span>
        <span class="complete">Q11</span>
        <span class="complete">Q12</span>
        <span class="complete">Q13</span>
    </div>
    <p>Pathfinder Society Season 2</p>
    <div class="supported-modules">
        <span class="complete">01</span>
        <span class="complete">02</span>
        <span class="complete">03</span>
        <span class="complete">04</span>
        <span class="complete">05</span>
        <span class="complete">06</span>
        <span class="complete">07</span>
        <span class="complete">08</span>
        <span class="complete">09</span>
        <span class="complete">10</span>
        <span class="complete">11</span>
        <span class="complete">12</span>
        <span class="complete">13</span>
        <span class="complete">14</span>
    </div>
    <p>Bounties</p>
    <div class="supported-modules">
        <span class="complete">01</span>
        <span class="complete">02</span>
        <span class="complete">03</span>
        <span class="complete">04</span>
        <span class="complete">05</span>
        <span class="complete">06</span>
    </div>

    <!-- <div class="supported-modules">
        <span class="partial" style="margin: 0 0.25em;">&nbsp;</span>
        Journal Entries and Scenes Only
        <span class="complete" style="margin: 0 0.25em;">&nbsp;</span>
        Additional Scene Wall Data
    </div> -->

    <hr>

    <div class="specialthanks">
        <a href="https://www.patreon.com/fryguy1013"><img src="/modules/pdftofoundry/Digital-Patreon-Wordmark_White.png" class="patreon"/></a>
        <p>A special thank you to all of my patrons and everyone that has helped pay for the PDFs.</p>
    </div>

    <hr>

    <div class="form-group">
        <label for="data">Source PDF</label>
        <input type="file" name="data">
    </div>
</form>
